.customTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .customTable th,
  .customTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customTable th {
    background-color: #f2f2f2;
    color: black;
    text-align: left;
  }
  
  .customTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .customTable tr:hover {
    background-color: #ddd;
  }
 
  